@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div> Here Measurements for Transformer T7 </div>
     <div>Power: @ViewData["Power"]</div>
     <div>Reactive Power: @ViewData["Vars"]</div>
     <div>Apparent Power: @ViewData["Truepower"]</div>
     <div>Power factor: @ViewData["Pf"]</div>
     <div>System Freq: @ViewData["Freq"]</div>
     <div>VoltageA: @ViewData["VphaseA"]</div>
     <div>VolatgeB: @ViewData["VphaseB"]</div>
     <div>VoltageC: @ViewData["VphaseC"]</div>
     <div>VoltageAB: @ViewData["VphaseAB"]</div>





